In [7]:
## 1.Find the total sales per customer
import sqlite3
import pandas as pd

# Connect to the database
conn = sqlite3.connect("C:/Users/vanta/OneDrive/Documents/Chinook_Sqlite.sqlite")

# Run a query and store results in a DataFrame
query1 = "SELECT CustomerId, SUM(Total) AS Total_Spent FROM Invoice GROUP BY CustomerId ORDER BY Total_Spent DESC;"
df1 = pd.read_sql_query(query, conn)

# Display results
print(df1)

    CustomerId  Total_Spent
0            6        49.62
1           26        47.62
2           57        46.62
3           45        45.62
4           46        45.62
5           24        43.62
6           28        43.62
7           37        43.62
8            7        42.62
9           25        42.62
10          44        41.62
11           5        40.62
12          43        40.62
13          48        40.62
14           1        39.62
15           3        39.62
16           4        39.62
17          17        39.62
18          20        39.62
19          22        39.62
20          34        39.62
21          42        39.62
22          15        38.62
23          19        38.62
24          39        38.62
25          40        38.62
26          51        38.62
27          58        38.62
28           2        37.62
29           8        37.62
30           9        37.62
31          10        37.62
32          11        37.62
33          12        37.62
34          13        37.62
35          14        37.62
36          16        37.62
37          18        37.62
38          21        37.62
39          23        37.62
40          27        37.62
41          29        37.62
42          30        37.62
43          31        37.62
44          32        37.62
45          33        37.62
46          35        37.62
47          36        37.62
48          38        37.62
49          41        37.62
50          47        37.62
51          49        37.62
52          50        37.62
53          52        37.62
54          53        37.62
55          54        37.62
56          55        37.62
57          56        37.62
58          59        36.64

In [9]:
## 2. Get the top 5 highest-selling artists
query2 = """SELECT a.Name, COUNT(il.TrackId) AS Total_Sales 
FROM InvoiceLine il 
JOIN Track t ON il.TrackId = t.TrackId 
JOIN Album al ON t.AlbumId = al.AlbumId 
JOIN Artist a ON al.ArtistId = a.ArtistId 
GROUP BY a.Name 
ORDER BY Total_Sales DESC 
LIMIT 5;"""
df2 = pd.read_sql_query(query2, conn)
print(df2)

                      Name  Total_Sales
0              Iron Maiden          140
1                       U2          107
2                Metallica           91
3             Led Zeppelin           87
4  Os Paralamas Do Sucesso           45

In [10]:
## 3. Find customers who made purchases in 2020 (modify based on available years)

query3 = "SELECT DISTINCT CustomerId FROM Invoice WHERE InvoiceDate LIKE '2020%';"
df3 = pd.read_sql_query(query3, conn)
print(df3)

Empty DataFrame
Columns: [CustomerId]
Index: []

In [11]:
## 4. Use Window Function to get cumulative sales by month
query4 = """SELECT strftime('%Y-%m', InvoiceDate) AS Month, SUM(Total) AS Monthly_Sales,
       SUM(SUM(Total)) OVER (ORDER BY strftime('%Y-%m', InvoiceDate)) AS Cumulative_Sales
FROM Invoice 
GROUP BY Month;"""
df4 = pd.read_sql_query(query4, conn)
print(df4)

      Month  Monthly_Sales  Cumulative_Sales
0   2009-01          35.64             35.64
1   2009-02          37.62             73.26
2   2009-03          37.62            110.88
3   2009-04          37.62            148.50
4   2009-05          37.62            186.12
5   2009-06          37.62            223.74
6   2009-07          37.62            261.36
7   2009-08          37.62            298.98
8   2009-09          37.62            336.60
9   2009-10          37.62            374.22
10  2009-11          37.62            411.84
11  2009-12          37.62            449.46
12  2010-01          52.62            502.08
13  2010-02          46.62            548.70
14  2010-03          44.62            593.32
15  2010-04          37.62            630.94
16  2010-05          37.62            668.56
17  2010-06          37.62            706.18
18  2010-07          37.62            743.80
19  2010-08          37.62            781.42
20  2010-09          36.63            818.05
21  2010-10          37.62            855.67
22  2010-11          37.62            893.29
23  2010-12          37.62            930.91
24  2011-01          37.62            968.53
25  2011-02          37.62           1006.15
26  2011-03          37.62           1043.77
27  2011-04          51.62           1095.39
28  2011-05          42.62           1138.01
29  2011-06          50.62           1188.63
30  2011-07          37.62           1226.25
31  2011-08          37.62           1263.87
32  2011-09          37.62           1301.49
33  2011-10          37.62           1339.11
34  2011-11          23.76           1362.87
35  2011-12          37.62           1400.49
36  2012-01          37.62           1438.11
37  2012-02          37.62           1475.73
38  2012-03          37.62           1513.35
39  2012-04          37.62           1550.97
40  2012-05          37.62           1588.59
41  2012-06          37.62           1626.21
42  2012-07          39.62           1665.83
43  2012-08          47.62           1713.45
44  2012-09          46.71           1760.16
45  2012-10          42.62           1802.78
46  2012-11          37.62           1840.40
47  2012-12          37.62           1878.02
48  2013-01          37.62           1915.64
49  2013-02          27.72           1943.36
50  2013-03          37.62           1980.98
51  2013-04          33.66           2014.64
52  2013-05          37.62           2052.26
53  2013-06          37.62           2089.88
54  2013-07          37.62           2127.50
55  2013-08          37.62           2165.12
56  2013-09          37.62           2202.74
57  2013-10          37.62           2240.36
58  2013-11          49.62           2289.98
59  2013-12          38.62           2328.60

In [12]:
## 5. Find the most popular genre

query5 = """SELECT g.Name, COUNT(il.TrackId) AS Play_Count 
FROM InvoiceLine il 
JOIN Track t ON il.TrackId = t.TrackId 
JOIN Genre g ON t.GenreId = g.GenreId 
GROUP BY g.Name 
ORDER BY Play_Count DESC 
LIMIT 1;"""
df5 = pd.read_sql_query(query5, conn)
print(df5)

   Name  Play_Count
0  Rock         835