In [1]:
## 1. Rank customers based on total purchase amount using RANK()

import sqlite3
import pandas as pd

# Connect to the database
conn = sqlite3.connect("C:/Users/vanta/OneDrive/Documents/Chinook_Sqlite.sqlite")

# Run a query and store results in a DataFrame
query1 = "SELECT CustomerId, SUM(Total) AS Total_Spent, RANK() OVER (ORDER BY SUM(Total) DESC) AS Rank FROM Invoice GROUP BY CustomerId;"
df1 = pd.read_sql_query(query1, conn)
print(df1)

    CustomerId  Total_Spent  Rank
0            6        49.62     1
1           26        47.62     2
2           57        46.62     3
3           45        45.62     4
4           46        45.62     4
5           24        43.62     6
6           28        43.62     6
7           37        43.62     6
8            7        42.62     9
9           25        42.62     9
10          44        41.62    11
11           5        40.62    12
12          43        40.62    12
13          48        40.62    12
14           1        39.62    15
15           3        39.62    15
16           4        39.62    15
17          17        39.62    15
18          20        39.62    15
19          22        39.62    15
20          34        39.62    15
21          42        39.62    15
22          15        38.62    23
23          19        38.62    23
24          39        38.62    23
25          40        38.62    23
26          51        38.62    23
27          58        38.62    23
28           2        37.62    29
29           8        37.62    29
30           9        37.62    29
31          10        37.62    29
32          11        37.62    29
33          12        37.62    29
34          13        37.62    29
35          14        37.62    29
36          16        37.62    29
37          18        37.62    29
38          21        37.62    29
39          23        37.62    29
40          27        37.62    29
41          29        37.62    29
42          30        37.62    29
43          31        37.62    29
44          32        37.62    29
45          33        37.62    29
46          35        37.62    29
47          36        37.62    29
48          38        37.62    29
49          41        37.62    29
50          47        37.62    29
51          49        37.62    29
52          50        37.62    29
53          52        37.62    29
54          53        37.62    29
55          54        37.62    29
56          55        37.62    29
57          56        37.62    29
58          59        36.64    59

In [4]:
## 2. Find top 3 tracks in each genre using PARTITION BY
query2 = """
WITH RankedTracks AS (
    SELECT 
        t.Name AS Track, 
        g.Name AS Genre, 
        COUNT(il.TrackId) AS Sales,
        RANK() OVER (PARTITION BY g.Name ORDER BY COUNT(il.TrackId) DESC) AS Rank
    FROM InvoiceLine il
    JOIN Track t ON il.TrackId = t.TrackId
    JOIN Genre g ON t.GenreId = g.GenreId
    GROUP BY t.Name, g.Name
)
SELECT * FROM RankedTracks WHERE Rank <= 3;
"""

df2 = pd.read_sql_query(query2, conn)
print(df2)

                        Track        Genre  Sales  Rank
0             All Night Thing  Alternative      1     1
1                 Billie Jean  Alternative      1     1
2               Call Me a Dog  Alternative      1     1
3            Disappearing Act  Alternative      1     1
4           Four Walled World  Alternative      1     1
..                        ...          ...    ...   ...
272                 No Futuro        World      1     1
273  O Que Vai Em Meu Coração        World      1     1
274                   Papelão        World      1     1
275              Voce Inteira        World      1     1
276                    É Fogo        World      1     1

[277 rows x 4 columns]