In [2]:
## 1. Rank customers based on total purchase amount using RANK()

import sqlite3
import pandas as pd

# Connect to the database
conn = sqlite3.connect("C:/Users/vanta/OneDrive/Documents/Chinook_Sqlite.sqlite")

# Run a query and store results in a DataFrame
query1 = "SELECT CustomerId, SUM(Total) AS Total_Spent, RANK() OVER (ORDER BY SUM(Total) DESC) AS Rank FROM Invoice GROUP BY CustomerId;"
df1 = pd.read_sql_query(query1, conn)
print(df1)

    CustomerId  Total_Spent  Rank
0            6        49.62     1
1           26        47.62     2
2           57        46.62     3
3           45        45.62     4
4           46        45.62     4
5           24        43.62     6
6           28        43.62     6
7           37        43.62     6
8            7        42.62     9
9           25        42.62     9
10          44        41.62    11
11           5        40.62    12
12          43        40.62    12
13          48        40.62    12
14           1        39.62    15
15           3        39.62    15
16           4        39.62    15
17          17        39.62    15
18          20        39.62    15
19          22        39.62    15
20          34        39.62    15
21          42        39.62    15
22          15        38.62    23
23          19        38.62    23
24          39        38.62    23
25          40        38.62    23
26          51        38.62    23
27          58        38.62    23
28           2        37.62    29
29           8        37.62    29
30           9        37.62    29
31          10        37.62    29
32          11        37.62    29
33          12        37.62    29
34          13        37.62    29
35          14        37.62    29
36          16        37.62    29
37          18        37.62    29
38          21        37.62    29
39          23        37.62    29
40          27        37.62    29
41          29        37.62    29
42          30        37.62    29
43          31        37.62    29
44          32        37.62    29
45          33        37.62    29
46          35        37.62    29
47          36        37.62    29
48          38        37.62    29
49          41        37.62    29
50          47        37.62    29
51          49        37.62    29
52          50        37.62    29
53          52        37.62    29
54          53        37.62    29
55          54        37.62    29
56          55        37.62    29
57          56        37.62    29
58          59        36.64    59

In [3]:
## 2. Find top 3 tracks in each genre using PARTITION BY
query2 = """
WITH RankedTracks AS (
    SELECT 
        t.Name AS Track, 
        g.Name AS Genre, 
        COUNT(il.TrackId) AS Sales,
        RANK() OVER (PARTITION BY g.Name ORDER BY COUNT(il.TrackId) DESC) AS Rank
    FROM InvoiceLine il
    JOIN Track t ON il.TrackId = t.TrackId
    JOIN Genre g ON t.GenreId = g.GenreId
    GROUP BY t.Name, g.Name
)
SELECT * FROM RankedTracks WHERE Rank <= 3;
"""

df2 = pd.read_sql_query(query2, conn)
print(df2)

                        Track        Genre  Sales  Rank
0             All Night Thing  Alternative      1     1
1                 Billie Jean  Alternative      1     1
2               Call Me a Dog  Alternative      1     1
3            Disappearing Act  Alternative      1     1
4           Four Walled World  Alternative      1     1
..                        ...          ...    ...   ...
272                 No Futuro        World      1     1
273  O Que Vai Em Meu Coração        World      1     1
274                   Papelão        World      1     1
275              Voce Inteira        World      1     1
276                    É Fogo        World      1     1

[277 rows x 4 columns]

In [4]:
## 3. Calculate moving average of monthly sales
query3 = """
SELECT 
    strftime('%Y-%m', InvoiceDate) AS Month, 
    SUM(Total) AS Monthly_Sales,
    AVG(SUM(Total)) OVER (
        ORDER BY strftime('%Y-%m', InvoiceDate) 
        ROWS 2 PRECEDING
    ) AS Moving_Avg
FROM Invoice 
GROUP BY Month;
"""

df3 = pd.read_sql_query(query3, conn)
print(df3)

      Month  Monthly_Sales  Moving_Avg
0   2009-01          35.64   35.640000
1   2009-02          37.62   36.630000
2   2009-03          37.62   36.960000
3   2009-04          37.62   37.620000
4   2009-05          37.62   37.620000
5   2009-06          37.62   37.620000
6   2009-07          37.62   37.620000
7   2009-08          37.62   37.620000
8   2009-09          37.62   37.620000
9   2009-10          37.62   37.620000
10  2009-11          37.62   37.620000
11  2009-12          37.62   37.620000
12  2010-01          52.62   42.620000
13  2010-02          46.62   45.620000
14  2010-03          44.62   47.953333
15  2010-04          37.62   42.953333
16  2010-05          37.62   39.953333
17  2010-06          37.62   37.620000
18  2010-07          37.62   37.620000
19  2010-08          37.62   37.620000
20  2010-09          36.63   37.290000
21  2010-10          37.62   37.290000
22  2010-11          37.62   37.290000
23  2010-12          37.62   37.620000
24  2011-01          37.62   37.620000
25  2011-02          37.62   37.620000
26  2011-03          37.62   37.620000
27  2011-04          51.62   42.286667
28  2011-05          42.62   43.953333
29  2011-06          50.62   48.286667
30  2011-07          37.62   43.620000
31  2011-08          37.62   41.953333
32  2011-09          37.62   37.620000
33  2011-10          37.62   37.620000
34  2011-11          23.76   33.000000
35  2011-12          37.62   33.000000
36  2012-01          37.62   33.000000
37  2012-02          37.62   37.620000
38  2012-03          37.62   37.620000
39  2012-04          37.62   37.620000
40  2012-05          37.62   37.620000
41  2012-06          37.62   37.620000
42  2012-07          39.62   38.286667
43  2012-08          47.62   41.620000
44  2012-09          46.71   44.650000
45  2012-10          42.62   45.650000
46  2012-11          37.62   42.316667
47  2012-12          37.62   39.286667
48  2013-01          37.62   37.620000
49  2013-02          27.72   34.320000
50  2013-03          37.62   34.320000
51  2013-04          33.66   33.000000
52  2013-05          37.62   36.300000
53  2013-06          37.62   36.300000
54  2013-07          37.62   37.620000
55  2013-08          37.62   37.620000
56  2013-09          37.62   37.620000
57  2013-10          37.62   37.620000
58  2013-11          49.62   41.620000
59  2013-12          38.62   41.953333